@media screen and (min-width: 768px) {
    #menu-toggle {
        display: none;
    }

    header {
        background: #4a115c;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        width: auto;
        background: transparent;
        margin-top: 0;
    }

    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        max-width: 1200px;
    }
}