@media (min-width: 768px) {
    #menu {
        display: none;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        position: static;
        width: auto;
        gap: 1rem;
    }

    .container {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
    }

    .container figure {
        max-width: 280px;
        /* aún más pequeño en PC */
    }
}